/* Base reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hidden Menu Links - Overlay Effect */
.hamburgerLinks {
  position: fixed;  /* To make the menu fixed over other content */
  top: 0;
  left: 0;
  width: 0;
  height: 100%;  /* Full height of the viewport */
  overflow: hidden;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);  /* Dark background for the overlay */
  transition: width 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: 5; /* High z-index to overlay on top of other content */
  padding: 1em;  /* Add some padding for spacing the links */
}

.hamburgerLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamburgerLinks li {
  margin-bottom: 1em;
}

.hamburgerLinks a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

/* Hamburger Icon */
.hamburger-icon {
  font-size: 28px;
  cursor: pointer;
  width: fit-content;
  position: relative;
  z-index: 10;  /* Ensure it is above the overlay menu */
  margin: 1em;  /* Add some space from the top */
}

/* Header Content */
.bigger-header {
  text-align: center;
  margin-top: 1em;
}

.bigger-header.move-down {
  transition: margin-top 0.3s ease-in-out;
}

/* Body Background */
.body-color {
  background-color: #f7f6ef;
}
